<!DOCTYPE html>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="banner">
          <img alt="tempbanner" src="http://www.txssc.txstate.edu/images/banner/TxSSC_banner.png" />
        </div>
        <h1>Texas Student Safety - Sexting Test</h1>
        <h5>Only you can prevent sexting.</h5>
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

  <script src="{{ url_for('static', filename='js/modernizr-2.0.6.min.js') }}"></script>
</head>
      </div>
      <div id="nav">
        <ul>
          <li><a href="{{ url_for('start') }}">Home</a></li>
          <li><a href="sexting_information.html">Sexting Information</a></li>
        </ul>
      </div>
      <div id="content">
        {%- block content -%}{%- endblock %}
      </div>
      <div id="footer">
        <p class="disclaimer">Prototype - footer filler text here.</p>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/jquery-1.7.1.min.js"><\/script>')</script>

  <script defer src="/static/js/script.js"></script>

</body>
</html>       

