<div id="certificate">

  <h1><img src="/static/img/cert/logo.jpg" width="610" height="80"></h1>

  <div id="issued">
    
    <p>Issues this certificate to<p>

    <p id="certID">&nbsp;</p>

    <p>In recognition of successful completion of the requirements for the</p>

    <h3>Sexting Prevention Educational Program</h3>

    <p id="date">
      <script type="text/javascript">
        var currentTime = new Date();
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        document.write(month + "/" + day + "/" + year);
      </script>
    </p>

  </div>

  <div id="signature">
    <p id="line"><img src="/static/img/cert/signature.jpg" width="179"></p>
    <p>
      <strong>Victoria L. Calder, Ph.D.</strong><br/>
      Director<br/>
      Texas School Safety Center
    </p>
  </div>

</div>