{% extends 'base.html' %}
{% block title %}Sexting Test{% endblock %}
{% block content %}
  <div id="test">
    <form action="{{ url_for('submit') }}" method="post">
      {% for question in questions %}
        <ul class="question">
          <li>{{ question['text'] }}</li>
        <fieldset class="answer">
          {% for answer in question['answers'] %}
          <input type="radio" name="{{ question['name'] }}" value="{{ answer['value'] }}" /><label>{{ answer['text'] }}</label>
        {% endfor %}
        </fieldset>
        </ul>
      {% endfor %}
      <input class="btn primary" type="submit" value="Submit Test" />
    </form>
  </div>
{% endblock %}
